body {
	background-color: #E0FFFF;
}

.header-contents {
	margin-left: 20px;
}

.header {
	text-align: right;
}
.header-item {
    display : inline-block;
}

.userList-title {
    margin-left : 20px;
}

.main-contents {
	margin: 20px;
	padding: 10px 10px 5px 10px;
	background-color: #B4CCCC;
	height: 100%;
	width: 80%;
}

.user-account .user-name {
    display : inline-block;
}