body {
	background-color: #E0FFFF;
}

.header-contents {
	margin-left: 20px;
}

.header {
	text-align: right;
}

.header-item {
    display : inline-block;
}

.new-button {
    text-align: left;
}

.userList-title {
    margin-left : 20px;
}

.main-contents {
	margin: 20px;
	padding: 10px 10px 10px 10px;
	background-color: #B4CCCC;
	height: 100%;
	width: 80%;
}

.message-icon {
    background-color: white;
    border: 0.5px solid black;
}

.name, .category {
    display: inline-block;
    width: 15%;
    font-size: 12px;
    font-weight: bold;
}

.createdDate {
    font-size: 12px;
    color: silver;
}

.title {
    font-weight: bold;
}

.text {
    font-size: 12px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

.commentArea {
    background-color : #fff;
    font-size: 12px;
}

.comments {
    background-color : #EEEEEE;
    border-radius: 10px;
    width: 95%;
}

.commentName {
    font-weight: bold;
}

.commentText {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

.add-comment {
    display: inline-block;
}

.user-list {
    background-color : #fff;
    border-collapse: collapse;
    border : solid 1px #000;
    padding-top : 5px;
    padding-bottom : 5px;
}

.head-account {
    display : inline-block;
    font-weight : bold;
    width : 20%;
    padding-left : 10px;
}

.head-name {
    display : inline-block;
    font-weight : bold;
    width : 20%;
}

.head-branch {
    display : inline-block;
    font-weight : bold;
    width : 15%;
}

.head-department {
    display : inline-block;
    font-weight : bold;
    width : 15%;
}

.head-accountStop {
    display : inline-block;
    font-weight : bold;
    width : 15%;
    margin-left : 10%;
}

.user-account {
    display : inline-block;
    width : 20%;
    padding-left : 10px;
}

.user-name {
    display : inline-block;
    width : 20%;
}

.user-branch {
    display : inline-block;
    width : 15%;
}

.user-department {
    display : inline-block;
    width : 15%;
}

.user-accountStop {
     display : inline-block;
     width : 15%;
 }

.edit-button {
    display : inline-block;
    width : 10%;
}

.isStopped-button {
    display : inline-block;
}

.stop-now {
    color : red;
    opacity : 0.7;
}

.edit-items {
    font-weight : bold;
}

.edit-items input {
    width : 200px;
}
.head-edit-item {
    width : 160px;
    display : inline-block;
}

.updateUser-button {
    margin : 15px 0 10px 0;
 }

.new-title{
    font-weight : bold;
        width : 100px;
}

.new-category{
    font-weight : bold;
        width : 100px;
}

.new-text{
    font-weight : bold;
        width : 100px;

}
.delete-button{
    display : inline-block;
    text-align : right;
}

.delete{
    border-color : red;
    color : red;
}

.errorMessages {
     color: red;
}

.login-conditions {
    display : inline-block;
    font-weight : bold;
    width : 100px;
}

.login-header {
    text-align : center;
}

.login-contents {
    text-align : center;
    width : 300px;
    margin : auto;
    padding : 20px 20px 20px 20px;
}

.login-button {
    margin-top : 20px;
}
.account {
    margin-bottom : 10px;
}

.newUser-button {
    margin-left : 20px;
}

.footer-contents {
    margin-left : 20px;
}

.userEdit {
    width : 450px;
}

.userManage-contents {
    width : 70%;
}