<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>HOME</title>
</head>
<body>
<div class="header-contents">
    <h1>掲示板</h1>

    <div class="header">
        <form th:action="@{/userManage}" method="get" class="header-item">
            <button type="submit">ユーザー管理</button>
        </form>

        <form th:action="@{/logout}" method="get" class="header-item">
            <button type="submit">ログアウト</button>
        </form>
    </div>
</div>
<!-- ログアウトボタン　-->
<!-- ユーザ管理画面への遷移ボタン　-->
<!-- 絞り込み　-->
<!-- ログアウトボタン　-->
<div class="message" th:each="message : ${formModel}">
    <div class="message-icon">
        <div class="name">
            投稿者名 : <span th:text="${message.userName}"/>
        </div>
        <div class="category">
            カテゴリ : <span th:text="${message.category}"/>
        </div>
        <div class="createdDate">
            投稿日 : <span th:text="${#dates.format(message.createdDate, 'yyyy年MM月dd日')}"/>
        </div>
        <div class="title">
            タイトル : <span th:text="${message.title}"/>
        </div>
        <div class="text">
            本文<br/>
            <span th:text="${message.text}"/>
        </div>
    </div><br/>
</div>
</body>
</html>

