<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>ログイン</title>
</head>
<body>
<div class="header-contents">
  <h1>ログイン画面</h1>
</div>
<div class="main-contents">
  <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
    <p th:text="${errorMessage}"></p>
  </div>
  <form th:action="loginUser" th:method="get" th:object="${formModel}">

    <label class="account">アカウント名</label>
    <input name="account" th:id="account" /><br/>

    <label class="password">パスワード</label>
    <input name="password" type="password" th:id="password"/><br/>

    <input type="submit" value="ログイン" /> <br />
  </form>
</div>
</body>
</html>