<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>ログイン</title>
</head>
<body>
<div class="header-contents login-header">
  <h1>掲示板ログイン</h1>
</div>
<div class="main-contents login-contents">
  <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
    <p th:text="${errorMessage}"></p>
  </div>
  <form th:action="loginUser" th:method="get" th:object="${formModel}">

    <div class="account">
      <label class="login-conditions">アカウント名</label>
      <input name="account" th:id="account" /><br/>
    </div>

    <div class="password">
      <label class="login-conditions">パスワード</label>
      <input name="password" type="password" th:id="password"/><br/>
    </div>

    <input type="submit" value="ログイン" class="login-button" /> <br />
  </form>
</div>
</body>
</html>