<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>新規投稿</title>
</head>
<body>
<div class="header-contents">
  <h2>新規投稿</h2>
</div>
<div class="main-contents">
  <form method="post" action="/add" th:object="${formModel}">
    <div class="form-area">
      <div th:each="errorMessage : ${errorMessages}">
        <span th:text="${errorMessage}"></br></span>
      </div>
      <div class="new-title">タイトル
        <textarea class="new-box" th:field="*{title}" size="20" maxlength="200" /></textarea><br/>
      </div>
      <div class="new-category">カテゴリー
        <textarea class="new-box" th:field="*{category}" size="20" maxlength="200" /></textarea><br/>
      </div>
      <div class="new-text">本文
        <textarea class="new-box" th:field="*{text}" size="100" maxlength="500" /></textarea><br/>
      </div>
      <input type="submit" value="投稿" />
    </div>
  </form>
</div>
<div class="footer-contents">
  <form action="/home">
    <input type="submit" value="戻る" />
  </form>
</div>
</body>
</html>