<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザー編集</title>
</head>
<body>
<div class="header-contents">
    <h2>ユーザー編集</h2>
</div>
<div class="main-contents userEdit">

    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
        <p th:text="${errorMessage}"></p>
    </div>


    <form th:method="put" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}">
    <!--<form>-->

        <div class="form-area">
            <div class="edit-items">
                <div class="head-edit-item">アカウント</div>
                <input type="text" th:field="*{account}" /><br/>
            </div>

            <div class="edit-items">
                <span class="head-edit-item">パスワード</span>
                <input type="password" th:field="*{password}" />
            </div>

            <div class="edit-items">
                <div class="head-edit-item">パスワード(確認用)</div>
                <input type="password" th:field="*{passwordConfirmation}" />
            </div>

            <div class="edit-items">
                <div class="head-edit-item">氏名</div>
                <input type="text" th:field="*{name}" />
            </div>

            <div class="edit-items">
                <div class="head-edit-item">支社</div>
                <span th:if="${loginUserId != user.id}">
                    <select name="branch">
                        <option value="1" th:selected="${user.branchId == 1}">本社</option>
                        <option value="2" th:selected="${user.branchId == 2}">A支社</option>
                        <option value="3" th:selected="${user.branchId == 3}">B支社</option>
                        <option value="4" th:selected="${user.branchId == 4}">C支社</option>
                    </select>
                </span>

                <span th:if="${loginUserId == user.id}">
                    <div class="userBranch" th:text="${user.branchName}"></div>
                    <input name="branch" th:value="${user.branchId}" type="hidden" />
                </span>

            </div>

            <div class="edit-items">
                <div class="head-edit-item">部署</div>
                <span th:if="${loginUserId != user.id}">
                    <select name="department">
                        <option value="1" th:selected="${user.departmentId == 1}">総務人事部</option>
                        <option value="2" th:selected="${user.departmentId == 2}">情報管理部</option>
                        <option value="3" th:selected="${user.departmentId == 3}">営業部</option>
                        <option value="4" th:selected="${user.departmentId == 4}">技術部</option>
                    </select>
                </span>

                <span th:if="${loginUserId == user.id}">
                    <div class="userBranch" th:text="${user.departmentName}"></div>
                    <input name="department" th:value="${user.departmentId}" type="hidden" />
                </span>
            </div>

            <input type="submit" value="更新" class="updateUser-button" />

        </div>

    </form>

</div>
<div class="footer-contents">
    <form action="/userManage">
        <input type="submit" value="戻る" />
    </form>
</div>
</body>
</html>
