<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/account-stop.js}"></script>
    <title>ユーザー管理</title>
</head>
<body>
<div class="header-contents">
    <h2>ユーザー管理</h2>
</div>
<p class="userList-title">ユーザー一覧</p>
<div class="main-contents">
    <div class="head-account">アカウント</div>
    <div class="head-name">氏名</div>
    <div class="head-branch">支社</div>
    <div class="head-department">部署</div>
    <div class="head-accountStop">アカウント停止状況</div>

    <div class="user-list" th:each="user : ${users}">
        <div class="user-account" th:text="${user.account}"></div>
        <div class="user-name" th:text="${user.name}"></div>
        <div class="user-branch" th:text="${user.branchName}"></div>
        <div class="user-department" th:text="${user.departmentName}"></div>

        <!--アカウントの停止情報条件分岐0:稼働状態、1:停止状態-->
        <div class="user-accountStop">
            <span th:if="${user.isStopped} == 0">
                <span>実行中</span>
                <form class="isStopped-button" method="put" th:action="@{/accountStop/{isStoppedId}(isStoppedId=${user.isStopped})}" >
                	<input type="submit" value="停止" />
			        <input name="userId" th:value="${user.id}" type="hidden" />
            	</form>
            </span>

            <span th:if="${user.isStopped} == 1">
                <span class="stop-now">停止中</span>
                <form class="isStopped-button" method="put" th:action="@{/accountStop/{isStoppedId}(isStoppedId=${user.isStopped})}" >
                	<input type="submit" value="復活" />
			        <input name="userId" th:value="${user.id}" type="hidden" />
            	</form>
      	    </span>
        </div>


        <div class="edit-button">
            <form th:method="get" th:action="@{/editUser/{id}(id=${user.id})}" >
                <input type="submit" value="編集" />
            </form>
        </div>
    </div>

</div>
<div class="footer-contents">
    <form action="/home">
        <input type="submit" value="戻る" />
    </form>
</div>
</body>
</html>
